<div class="row">
  <div class="large-6 columns large-centered">
Add an Item
<form method="post" action="/new_item">
  Item:
  <input type="text" name="item[name]">

  Potluck (to be replaced by automation)
  <select name="item[potluck_id]">
    <% Potluck.all.each do |potluck| %>
      <option value="<%= potluck.id %>"><%= potluck.name %></option>
    <% end %>
  </select>
<!--This is just like how we pulled the stocks on the portfolio new/edit page
  in brokerage. they were in a bridge the same way-->
  <% Tag.all.each do |tag| %>
      <input type="checkbox"
      name="item[tag_ids][]"
      value="<%= tag.id %>">
        <%= tag.name %>
        <br>
      <% end %>

<!--This should have a drop down with existing ppl in the system plus an option to
  make a new person. if desired. This is like the client assign on portfolio-->
    Assigned?

    <select name="item[person_id]">
      <% Person.all.each do |person| %>
        <option value="<%= person.id %>"><%= person.name %></option>
      <% end %>
    </select>

    <br>
  <button>Save Item</button>
</form>
</div>
</div>